/* Empty. Add your own CSS if you like */

.nota_resultado_container {text-align: center; color: #fffff0; text-transform: uppercase; border: 2px solid transparent; border-radius: 5px; margin: auto 10px; padding: 26px; background-color: rgb(123, 104, 238);}
